<div class="row justify-content-center ">
    
    <div class="card mb-3 bg-secondary align-items-lg-center " style="max-width: 900px;" >
        
        <img src={{note.foto}} class="card-img-top alaing" alt="..." style="max-width: 600px;">
        <div class="card-body">
            <hr>
            <h5 class="card-title text-light">{{note.titulo}}</h5>
            <p class="card-text  text-light">{{note.descripcion}}</p>
            <p class="card-text  text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, id animi. Ratione maxime ducimus
                repudiandae eveniet earum odit totam beatae saepe aliquid dolorem tempore libero reprehenderit in
                excepturi corporis doloribus quos iste, quas dignissimos doloremque. Eligendi sequi aut provident magni
                molestias eveniet ipsum optio, placeat cum hic iure dolorum et! Accusantium aut dolorum quod quis
                perferendis. Aspernatur quasi, incidunt cupiditate ratione hic autem provident dolor eius? Qui ratione
                provident, similique culpa asperiores maiores blanditiis molestias architecto fugit, veniam tenetur.
                Quasi, nemo est quo atque fugit ipsam reiciendis omnis accusantium obcaecati aliquam ea odit eaque culpa
                aliquid sint debitis animi asperiores.</p>
            <p class="card-text text-light"><small>{{note.fecha}}</small></p>
        </div>
    </div>
</div>
<button type="button" class="btn btn-outline-light" [routerLink]="['']">Atras</button>
